<div class="modal-menu column ">
  <ul class="top-menu list-none padding-left:0 align-items:baseline display:flex flex-direction:column md:{flex-direction:row;flex-wrap:wrap;justify-content:space-evenly} translate-5">
    {%- assign sorted_filtered_pages = site.pages | where_exp: "item", "item.order != empty" | sort: 'order'  -%}

    <li class="padding-left:8px padding-right:8px display:none md:display:block">
      <a class="page-link text-decoration:none" href="/">Home</a>
    </li>

    {%- for my_page in sorted_filtered_pages -%}
    {%- if my_page.title -%}
    <li class="padding-left:8px padding-right:8px display:none md:display:block">
      {% if my_page.link %}
        <a class="page-link page-false text-decoration:none" href="{{ my_page.link }}">{{ my_page.title | escape }}</a>
      {% else %}
        <a class="page-link text-decoration:none" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {% endif %}
    </li>
    {%- endif -%}
    {%- endfor -%}

  </ul>
</div>
